  body{
      margin: 0;
      padding: 0;
  }
  #sideBarWrapper{
      display: flex;
      flex-direction: row;
      
  }
  #sidebar {
    position:absolute;
    top:0px;
    left:-200px;
    width: 200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
    color: white;
  }
  #sidebar h2{
      padding-left: 10px;
  }
  #sidebar.active {
    left:0px;
  }
#sideBarButton {
    margin-left:20px;
    margin-top: 15px
  }
  #sideBarButtonClose{
    cursor:pointer;
    margin-right: 20px;
    margin-top: 19px;
    font-size: 1.3em;

  }
#sideBarButton .icon {
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin:5px 0px;
    cursor:pointer;
  }
  main{
      
      background-color: gray;
      margin: 0 auto;
      width: 60%;
  }
  #flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .link{
      border-bottom: 2px solid white;
      padding: 19px;

  }
 
      