  body{
      margin: 0;
      padding: 0;
      background-color: #121212;
      font-family: 'Mulish', sans-serif;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
  }
  header{
      background-color: #000000;
      width: 100%;
      
      padding-top: 30px;
      padding-bottom: 30px;

  }
  #sideBarWrapper{
      display: flex;
      flex-direction: row;
      
  }
  #sidebar {
    position:absolute;
    top:0px;
    left:-200px;
    width: 200px;
    height:100%;
    background:#151719;
    transition:all 300ms linear;
    color: white;
  }
  #sidebar h2{
      padding-left: 10px;
  }
  #sidebar.active {
    left:0px;
  }
#sideBarButton {
    margin-left:20px;
  }
  #sideBarButtonClose{
    cursor:pointer;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 2em;
    color: white;
    /*color: #bb88fc;*/
    font-weight: bolder;
  }
  #sideBarButtonClose:hover{
    color: #bb88fc;
  }
#sideBarButton .icon {
    display:block;
    width:30px;
    height:5px;
    background: white;
    
    margin-bottom:5px;
    cursor:pointer;
  }
  main{
      
      background-color: gray;
      margin: 0 auto;
      width: 60%;
  }
  #flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .link{
      border-bottom: 4px solid  #bb88fc;
      padding: 19px;

  }
  .link:hover{
          color: #bb88fc;

  }
 
      