
header{
   
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;

}
nav{
    color: white;
    width: 100%;
    height: 30px;
   
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-right: 220px;
}
nav ul li{
    border-bottom: 2px solid white;
    margin-left: 30px;
    height: 100%;
    padding-bottom: 12px;

}
nav ul li:hover{
    color: #bb88fc;
    border-bottom: 2px solid #bb88fc;

}



#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width: 200px;
  height:100%;
  background:#151719;
  transition:all 300ms linear;
  color: white;
}
#sidebar h2{
    padding-left: 10px;
}





main{
    color: white;
    background-color: #222;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 100px;
}


.link{
    padding: 19px;

}


#resumeMain{
  
  width: 40%;
  padding: 50px;
}

#contactFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#title{
  text-align: center;
}
.resumeFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bold{
  font-weight: bolder;
}
.listFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#myProjectsh2{
  color: white;
  margin-left: 30px;
  margin-top: 30px;
}
#projectsContainer{
 margin: 0 auto;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 flex-wrap: wrap;
 padding-bottom: 30px;
}
#projectsContainer .box h3{
  color: white;
}
#projectsContainer .box{
  height: 300px;
  width: 40%;
  margin-bottom: 200px;
  margin-top: 50px;

}
.description{
  padding-bottom: 30px;
}


#aboutMeFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 40px;
}
#aboutMeFlex .me{
  border-radius: 100px;
}
#aboutMeFlex .bio{
  margin-top: 80px;
  margin-left: 50px;
}
#classesIveTaken{
  padding: 40px;
}
#goals{
  padding: 40px;

}
.MyLinks{

  margin-right: 9px;
}
#welcome{
  margin-top: 40px;
  font-size: 2.7em;
  text-align: center;
}
#homePage{
  padding: 40px;
}

#skills{
margin-top: 30px;
}
